[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-cors = "*"
requests = "*"
pydantic = "*"
google-generativeai = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.11"
